<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Guid</th>
            <th>Slug</th>
            <th>Ptitle</th>
            <th>Psubtitle</th>
            <th>Body</th>
            <th>Client</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <td><%= project.guid %></td>
                <td><%= project.slug %></td>
                <td><%= project.ptitle %></td>
                <td><%= project.psubtitle %></td>
                <td><%= project.body %></td>
                <td><%= project.client %></td>
                <td><%= project.startdate_id %></td>
                <td><%= project.enddate_id %></td>
                <td><%= link_to 'Show', project %></td>
                <td><%= link_to 'Edit', edit_project_path(project) %></td>
                <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
