<p id="notice"><%= notice %></p>

<h1>Monthperiods</h1>

<table>
  <thead>
    <tr>
      <th>Guid</th>
      <th>Slug</th>
      <th>Period year</th>
      <th>Month number</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monthperiods.each do |monthperiod| %>
      <tr>
        <td><%= monthperiod.guid %></td>
        <td><%= monthperiod.slug %></td>
        <td><%= monthperiod.period_year %></td>
        <td><%= monthperiod.month_number %></td>
        <td><%= monthperiod.start_date %></td>
        <td><%= monthperiod.end_date %></td>
        <td><%= link_to 'Show', monthperiod %></td>
        <td><%= link_to 'Edit', edit_monthperiod_path(monthperiod) %></td>
        <td><%= link_to 'Destroy', monthperiod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monthperiod', new_monthperiod_path %>
